/_minted-EngODE_Book/*
EngODE_Book.aux
EngODE_Book.idx
EngODE_Book.listing
EngODE_Book.ind
EngODE_Book.log
EngODE_Book.out
EngODE_Book.pdf
EngODE_Book.toc
EngODE_Book.synctex.gz
EngODE_Book.txt
extra.css
html